.forum {
  width: 100%;
  background-color: #fff;

  &__imgbox {
    width: 50%;
    min-height: 90vh;
    padding: 100px 38px;
    text-align: center;
    background: rgba(201, 172, 140, 0.93);
  }
  &__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-top: 75px;
    padding-left: 112px;
  }
  &__title {
    font-family: 'Arial Black';
    font-weight: 900;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 10px;
    color: #000000;
  }
  &__next {
    text-decoration: none;
    margin-left: 5px;
  }
  &__signup {
    margin-bottom: 21px;
  }
  &__reg {
    display: flex;
    flex-direction: column;
  }
  &__input {
    display: inline-block;
    width: 450px;
    padding: 16px 0px 10px 29px;
    margin-bottom: 16px;
    background: #FFFFFF;
    border: 1px solid #B4B4BB;
    color: #B4B4BB;
    border-radius: 10px;
    font-size: 18px;
  }
  &__input:focus {
    outline-color: #152540;
  }
  &__btn {
    background: #152540;
    border: 1px solid #152540;
    border-radius: 99px;
    border: none;
    padding: 9px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    width: 450px;
    margin-top: 26px;
    display: inline-block;
    transition: all 0.5s ease;
  }
  &__btn:hover {
    background-color: #fff;
    color: #152540;
    border: 1px solid #152540;
    transition: all 0.5s ease;
  }
}